footer {
    color: white !important;
    font-size: 20px !important;
}

footer > a {
    font-weight: 700 !important;
    color: white !important;
}

footer > p > a {
    color: #e0a800 !important;
    font-weight: 1000 !important;
}

@media (max-width: 600px) {
    footer {
        color: white !important;
        font-size: 14px !important;
    }
}

@media (max-width: 370px) {
    footer {
        color: white !important;
        font-size: 10px !important;
    }
}
