<ng-container *ngIf="( user === undefined || user.role ==='user') else adminContent">
  <div class="container-md">
    <h2 class="ml-n4">Author list</h2>
    <p *ngFor="let author of authors"> <a class="author" [routerLink]="['/author', author.id]">    {{author.name}} </a> </p>
  </div>
</ng-container>


<ng-template #adminContent>
  <h1>Author list</h1>
  <input type="button" value="Add" class="btn btn-default" (click)="add()" />
  <table *ngIf="tableMode; else create" class="table table-striped">
    <thead>
    <tr>
      <td>Name</td>
      <td>Birthday</td>
      <td>Description</td>
      <td></td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let authorIter of authors">
      <ng-template [ngIf]="author.id != authorIter.id" [ngIfElse]="edit">
        <td>{{authorIter.name}}</td>
        <td>{{authorIter.birthday}}</td>
        <td>{{authorIter.bio}}</td>
        <td>
          <button class="btn btn-sm btn-primary" (click)="editAuthor(authorIter)">Изменить</button>
          <button class="btn btn-sm btn-danger" (click)="delete(authorIter)">Удалить</button>
        </td>
      </ng-template>
    </tr>
    </tbody>
  </table>

  <!--шаблон для редактирования-->
  <ng-template #edit>
    <td>
      <input type="text" [(ngModel)]="author.name" class="form-control" />
      <input type="date" [(ngModel)]="author.birthday" class="form-control" />
      <input type="text" [(ngModel)]="author.bio" class="form-control" />
    </td>
    <td>
      <input type="button" value="Сохранить" (click)="save()" class="btn btn-sm btn-success" />
      <input type="button" value="Отмена" (click)="cancel()" class="btn btn-sm btn-warning" />
    </td>
  </ng-template>

  <!--шаблон для добавления-->
  <ng-template #create>
    <div class="form-group">
      <label>Модель</label>
      <input type="text" [(ngModel)]="author.name" class="form-control" />
      <input type="date" [(ngModel)]="author.birthday" class="form-control" />
      <input type="text" [(ngModel)]="author.bio" class="form-control" />
    </div>
    <div>
      <input type="button" value="Сохранить" (click)="save()" class="btn btn-success" />
      <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
    </div>
  </ng-template>
</ng-template>
