
.book {
  display: inline-block;
  width: 300px;
  height: 570px;
  border-radius: 25px !important;
  background-color: #e0e5ec;
  color: black;
  border: none !important;
  box-shadow:  -9px -9px 16px #ffffff,   9px 9px 16px #a3b1c6;
  margin: 25px;
  padding: 5px 5px 0 5px;
  vertical-align: top;
  transition: height 1s;
}

.card-nav
{

}


/* star button */
.book:after {
  font-family: FontAwesome;
  content: "\f005";
  font-size: 35px;
  position: absolute;
  left: 6.3cm;
  bottom: -.1cm;
  float: right;
  color: red;
}

.book{
  position: relative;
}
.mark{
  background-color: transparent;
  font-size: 26px;
  position: absolute;
  left: 5.6cm;
  bottom: -.1cm;
  float: right;
}

.cover {
  border-radius: 25px !important;
  height: 80%;
  overflow: hidden;
}

.cover img {
  height: 100%;
}

.book p {
  margin-top: 12px;
  font-size: 14px;
}

.book .author {
  font-size: 12px;
}
@media (max-width: 941px) {
  .book {
    margin: 49px;
  }
}
@media (max-width: 730px) {
  .book {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
  }
  .cover {

  }
}
