<div class="search-container container">
  <ul class="nav nav-tabs nav-fill ">
    <li class="nav-item">
      <a href="#tagsSearch" class="nav-link" data-toggle="tab">Tags ({{tags.length}})</a>
    </li>
    <li class="nav-item">
      <a href="#booksSearch" class="nav-link active" data-toggle="tab">Books ({{books.length}})</a>
    </li>
    <li class="nav-item">
      <a href="#authorsSearch" class="nav-link" data-toggle="tab">Authors ({{authors.length}})</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade" id="tagsSearch">
      <h2> A list of tags</h2>
      <br>
      <div class="container-md">
        <a class="tag" *ngFor="let p of tags" [routerLink]="['/tag', p.id]"  style="font-size: {{10+ 3*p.bookCount}}px">{{p.name}}    </a>
      </div>
    </div>

    <div class="tab-pane fade show active" id="booksSearch">
      <div class="book-container">
        <h2> A list of books</h2>
        <br>
        <div class="row justify-content-center">
          <app-book-card
            *ngFor="let iterbook of books"
            [book]="iterbook"></app-book-card>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="authorsSearch">
      <h2> A list of authors</h2>
      <br>
      <div class="container-md">
        <a class="author" *ngFor="let p of authors" [routerLink]="['/author', p.id]">{{p.name}}    </a>
      </div>    </div>
  </div>
</div>

