footer {
  color: white !important;
  font-size: 20px !important;
  flex: 0 0 auto!important;
}

footer > a {
  font-weight: 700 !important;
  color: white !important;
}

footer > p > a {
  color: #e0a800 !important;
  font-weight:  900 !important;
}

@media (max-width: 600px) {
  footer {
    color: white !important;
    font-size: 14px !important;
  }
}

@media (max-width: 370px) {
  footer {
    color: white !important;
    font-size: 10px !important;
  }
}

.footer {
  flex: 0 0 auto;
}

.admin{
  color: white !important;
  text-decoration: none;
}
