<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/91464f35-7da8-4226-b02c-91efcafe4f0a/resourceGroups/TheBookshelf_dbResourceGroup/providers/Microsoft.Web/sites/TheBookshelf</ResourceId>
    <ResourceGroup>TheBookshelf_dbResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://thebookshelf.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>thebookshelf.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TheBookshelf</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TheBookshelf</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Remote" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:thebookshelf-webdbserver.database.windows.net,1433;Initial Catalog=TheBookshelf.Web_db;User ID=vis@thebookshelf-webdbserver;Password=Vsloveparol6bukv" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:thebookshelf-webdbserver.database.windows.net,1433;Initial Catalog=TheBookshelf.Web_db;User ID=vis@thebookshelf-webdbserver;Password=Vsloveparol6bukv" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Remote_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:thebookshelf-webdbserver.database.windows.net,1433;Initial Catalog=TheBookshelf.Web_db;User Id=vis@thebookshelf-webdbserver;Password=Vsloveparol6bukv" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Remote-Web.config Connection String">
      <ParameterValue>Data Source=tcp:thebookshelf-webdbserver.database.windows.net,1433;Initial Catalog=TheBookshelf.Web_db;User ID=vis@thebookshelf-webdbserver;Password=Vsloveparol6bukv</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>