.card-nav
{
  border-radius: 25px !important;
  background-color: #e0e5ec;
  color: black;
  border: none !important;
  box-shadow:  -9px -9px 16px #ffffff, 9px 9px 16px #a3b1c6;
}


.card-green:hover {
  background-color: green;
  color: white!important;
  box-shadow:  -9px -9px 16px rgba(255, 255, 255, 0.7) inset,
  9px 9px 16px rgba(77, 77, 78, 0.7) inset;
}
.card-blue:hover {
  background-color: navy;
  color: white;
  box-shadow:  -9px -9px 16px rgba(255, 255, 255, 0.7) inset,
  9px 9px 16px rgba(77, 77, 78, 0.7)  inset;
}
.card-yellow:hover {
  background-color: goldenrod;
  color: white;
  box-shadow:  -9px -9px 16px rgba(255, 255, 255, 0.7) inset,
  9px 9px 16px rgba(77, 77, 78, 0.7) inset;
}
.card-red:hover {
  background-color: darkred;
  color: white;
  box-shadow:  -9px -9px 16px rgba(255, 255, 255, 0.7) inset,
  9px 9px 16px rgba(77, 77, 78, 0.7)  inset;
}


a:hover{
  color: orange !important;
}



.book-container {
  margin: 0 auto;
  max-width: 1210px;
}

@media (max-width: 941px) {
  .book-container {
    max-width: 700px;
  }
}


h1 {
  color: gray;
  text-align: center;
  font-size: 50px;
  margin-bottom: -3px;
}


@media (max-width: 766px) {
  .container{
    width: 13rem!important;
  }
}
