<header class="mb-5" style="height: 200px; background-image: url(../../assets/images/books.jpg);">

  <div style="height: 145px;"></div>

  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-info rounded mt-auto">

    <a class="navbar-brand mb-0 ml-5 h1" routerLink="">Bookshelf</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navigation"
            aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navigation">
      <ul class=" nav navbar-nav nav-pills  mr-auto ml-auto">
        <li class="nav-item">
          <a class="nav-link" id="tags" routerLink="/tags" routerLinkActive="active">Tags </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="best" href="{% url 'catalog' %}">Best books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="api" href="https://thebookshelf.azurewebsites.net/">API</a>
        </li>
      </ul>
      <ul class=" nav navbar-nav nav-pills  mr-auto ml-auto">
        <li class="nav-item">
          <a class="nav-link" id="auth" href="#">Log in</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Find book" aria-label="Search">
        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>

  </nav>
</header>
