<ngx-spinner bdColor = "rgba(0,0,0,0.6)" size = "large" color = "darkred" type = "square-jelly-box" [fullScreen] = "true">
<p style="color: white; font-size: 20px; margin-top: 25px;" > Please wait... </p>
</ngx-spinner>

<div class="container book"  *ngIf="loading === false">
  <div class="row mt-5">
    <div class="col-md-6 col-sm-12 p-0 ">
      <img class="rounded-top" src="{{book.coverUrl}}" style="width: 100%;" alt="{{book.name}}">
      <ng-container *ngIf="(isLiked === true) else nolike">
          <i class="fa star liked" (click)="like()"> &#xf005;</i>
      </ng-container>
      <ng-template #nolike>
          <i class="fa star nolike" (click)="like()">&#xf006;</i>
      </ng-template>

    </div>

    <div class="col-md-6 col-sm-12">
      <h1 class="col-12 text-center pt-2 mt-4 mb-1">{{book.name}}</h1>

      <hr class="mb-4">

      <p class="lead px-3 text-justify">{{ book.description }}</p>

      <hr class="mt-4 mb-4">
      <div class="px-3">
        <h4 class="my-3"><strong>Authors: </strong>
          <a class="author" *ngFor="let author of book.authors" [routerLink]="['/author', author.id]"> {{author.name}}  </a>
        </h4>
        <h4><strong>Tags: </strong>
           <a class="tag" *ngFor="let tag of book.tags" [routerLink]="['/tag', tag.id]" > {{tag.name}} </a>
        </h4>
      </div>
      <hr class="mt-4 mb-4">

      <h2 class="text-right pr-4"><strong>{{ book.assessment }}</strong> people like this book</h2>
      <hr class="mt-4 mb-4">

      <div class="container-fluid">
        <ng-container *ngIf="( user === undefined) else download">
          <h5 style="color: red">Only authorized users can download books</h5>
          <button class="login mx-auto" routerLink="/login">Login</button>
        </ng-container>
        <ng-template #download>
          <button class="download mx-auto" (click)="downloadBook(book.id)">Download book</button>
        </ng-template>
      </div>
    </div>

  </div>
</div>
